@CHARSET "UTF-8";

.fbButtContainer {
	padding: 1%;
}

.signInLink {
	font-size: 12pt;
}

.loginPagePara {
	font-size: 12pt;
}

.signInButtDiv {
	padding: 5px;
}

@import 'bootstrap.less';

div.sign-in-form-div { .border-radius ( 5px );
	border-style: solid;
	border-color: #0000ff;
}